<div class="container">
  <div class="row">     
    <div class="col-xs-9">
      <h1>Follows Users</h1>
      <table class="table">
     

        <% if @user.followers.count == 0 %>
          <td>ユーザーはいません<td>
        <%else%>
           <th>image</th>
        <th>name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <% @users.each do |book| %>
        following
          <tr>
            <td><%= attachment_image_tag book, :profile_image, :fill, 100, 100, format: 'jpeg' ,fallback:'no-img.jpg',size:'40x40' %></td>
            <td><%= book.name %></td>
            <!--フォロー機能-->
            <td>フォロー数:<%= book.followings.count %></td>
            <td>フォロワー数:<%= book.followers.count %></td>
            <td>
            <% unless current_user == book %>
              <% if current_user.following?(book) %>
                <%= form_for(current_user.relationships.find_by(follow_id: book.id), html: { method: :delete }) do |f| %>
                  <%= hidden_field_tag :follow_id, book.id %>
                  <%= f.submit 'フォロー外す' %>
                <% end %>
              <% else %>
                <%= form_for(current_user.relationships.build) do |f| %>
                  <%= hidden_field_tag :follow_id, book.id %>
                  <%= f.submit 'フォローする'%>
                <% end %>
              <% end %>
            <% end %>
            </td>
            <!--フォロー機能-->
            <td><%= link_to "Show", user_path(book.id) %> </td>
          </tr>
        <% end %>
      <% end %>
      </table>
    </div>
  </div>
</div>