<div class="container">
  <div class="row">
    <div class="col-lg-4"style="background-color: orange;" id="sticky-sidebar">
      <h2>User Info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' ,fallback:'no_image.jpg' %>
      <p><span>name:<%= @user.name %> </span> </p>
      <p><span>introduction:<%= @user.introduction %></span> </p>
      <p><%= link_to "edit" ,"/users/#{@user.id}/edit" %>
      <h2>New Book</h2>
      <%= form_for @book do |f| %>
        <h3>Title</h3>
        <%= f.text_field :title %>
        <h3>opinion</h3>
        <%= f.text_area :body %><br>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="col-lg-8" id="main">
      <table class="table table-striped">
        <th>image</th>
        <th>name</th>
        <th>Opnion</th>
       
        <% @books.each do |book| %>
         <tr>
          <td><%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format: 'jpeg' %></td>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
        </tr>
        <% end %>
      </table>
    </div>
 </div>
