

  <% if @book.errors.any? %>
    <h2> <%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved: </h2>
    <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %> 
  <% end %>
<h1>Editing Book</h1>

<% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>


<% if @user == current_user  %>
  <%= form_for(@book) do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_area :body %><br>
    <%= f.submit "Update Book" %>
  <% end %>
  <br>
  <%= link_to "Show","/books/#{@book.id}"%>
  <%= link_to "Back","/books"%>
<% else %>
  <% redirect_to book_path(current_user) %>
<% end %>