<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>Bookers</h1>
        <% flash.each do |message_type, message| %>
          <%= message %>
    <% end %>
      <% if user_signed_in? %>
        <span class="icon-bar"><%= link_to "Home",user_path(current_user.id) %></span>
        <span class="icon-bar"><%= link_to "Users", "/users" %></span>
        <span class="icon-bar"><%= link_to "Books", books_path %></span>
        <span class="icon-bar"><%= link_to "logout", destroy_user_session_path, method: :delete %></span>
      <% else %>
        <%= link_to "Home", "/home/home" %>
        <%= link_to "About", "/home/about" %>
        <%= link_to "sign up", new_user_registration_path %>
        <%= link_to "login", new_user_session_path %>
      <% end %>
      <%= yield %>
  </body>
</html>
